.cart-image{
  height: 150px;
  object-fit: cover;
  width: 100%;
  position: absolute;
}
.card{
  transition: 0.5s;
  cursor: pointer;
  min-height: 240px;
}
.card:hover{
  box-shadow: 3px 3px 30px rgba(217, 217, 217, 0.574);
  transform: translateY(-5px);
  z-index: 99;
}