:root {
    --themeColor: #317AE7;
    --themeBGColor: #EFF5FE;
    --themeCornerRadius: 25px;
    --themeGrayColor: #e6e4e4;
}

.accordion-syllabus-header {
    display: flex;
    justify-content: space-between;
    column-gap: 0.2em;
    background: var(--themeGrayColor);
    /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05); */
    box-shadow:  inset -5px -5px 10px #767676, inset 5px 5px 10px #fff;
    border-radius: var(--themeCornerRadius);
    padding: 1.5rem;
    position: relative;
}

.accordion-syllabus-header__title {
    font-weight: 800;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0 !important;
}

.accordion-syllabus-header__info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accordion-content {
    /* height: 0; */
    transition: all 2s;
    display: flex;
    max-height: 0px;
    /* visibility: collapse; */
    overflow: hidden;
    transition: max-height 0.5s ease;
    background: #fcfcfc;
    border-radius: 0 0 var(--themeCornerRadius) var(--themeCornerRadius);
    filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.08));
}

.accordian-content-block {
    padding: 16px 75px 41px 69px;
}

.accordian-list__item {
    list-style-type: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.522);
    padding: 20px 0;
}

.accordian-content-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.accordian-content-card__info {
    display: flex;
    flex-direction: row;
}

.accordian-content-card__icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordian-content-card__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.accordion-syllabus-header:hover {
    box-shadow: inset -5px -5px 10px #767676, inset 5px 5px 10px #fff, 0 0 10px white;
    max-height: 402px; 
}
.accordion-syllabus-header__icon{
    font-size: 30px;
    transition: all 0.5s;
}