.videoPlayer-container{
    padding: 20px;
    /* height: 100vh; */
}
.videoPlayer-main-container{
    min-height: 100vh;
    background-color: rgb(25, 25, 25);
    width: 100%;
    overflow-y: scroll;
    padding: 0 10px;
}

video{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px 30px gray;
   
}
iframe{
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
    margin: 0;
}
.video-box-wraper{
    background-color: white;
    color: black;
    animation: videoShadow 3s infinite linear;
    border-radius: 10px;
    /* overflow: hidden; */
}
.video-header{
  height: 50px;
}
.video-box{
    overflow:  hidden;
    padding: 0;
    margin-top: 60px;    
    /* outline: 20px solid rgb(200, 200, 200); */
}
.playing{
    background-color: #dcdcdc !important;
}
.card-topic-body{
    margin-left: 40px;
    color: black;
    padding: 10px;
}
.syllabus-card{
    margin-top: 10px;
    background-color: white;
}
.card-title-topic{
    padding: 15px;
    background-color: #efefef;
    border-radius: 10px;
}
.card-title-topic:hover{
    background-color: #dcdcdc;
    border-radius: 10px;
}

/* Playing Waves animation start */
  #play-wave-container{  
    position:relative;
    height: 40px;
  }  
  
  #play-wave-container span{  
    width:5px;  
    height: 8px;
    border-radius: 5px;  
    bottom:0px;
    position:absolute;  
    border: 1px solid black;
    -webkit-animation: bodong 0.5s infinite  ease;  
  }  
  
  #play-wave-container span:first-child{  
    left:0px;  
    -webkit-animation-delay:.3s;  
  }  
  
  #play-wave-container span:nth-child(2){  
    left:7px;  
    -webkit-animation-delay:.4s;  
  
  }  
  #play-wave-container span:nth-child(3){  
    left:14px;  
    -webkit-animation-delay:.6s;  
  }  
  #play-wave-container span:nth-child(4){  
    left:21px;  
    -webkit-animation-delay:.8s;  
  }  
  #play-wave-container span:nth-child(5){  
    left:28px;  
    -webkit-animation-delay:1s;  
  }  
  
  @-webkit-keyframes bodong{  
    0%{height:5px; background:bule;}  
    30%{height:15px; background:bule;}  
    60%{height:20px; background:bule;}  
    80%{height:15px; background:bule;}  
    100%{height:5px; background:bule;}  
  }
/* Playing Waves animation end */

@keyframes videoShadow{
    0%{
        box-shadow: 3px 3px 250px #00ffff59;
    }
    10%{
        box-shadow: 3px 3px 250px #22ff0059;
    }
    20%{
        box-shadow: 3px 3px 250px #ff00c859;
    }
    30%{
        box-shadow: 3px 3px 250px #ff000059;
    }
    40%{
        box-shadow: 3px 3px 250px #0008ff59;
    }
    50%{
        box-shadow: 3px 3px 250px #f6ff0059;
    }
    60%{
        box-shadow: 3px 3px 250px #055b0659;
    }
    70%{
        box-shadow: 3px 3px 250px #8700d459;
    }
    80%{
        box-shadow: 3px 3px 250px #ffffff6c;
    }
    90%{
        box-shadow: 3px 3px 250px #00eeff6c;
    }
    100%{
        box-shadow: 3px 3px 250px #720000a3;
    }
}